.popup__container {
    width: 430px;
    position: fixed;
    left: 50%;
    top: 40.8%;
    background: #fff;
    height: 330px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    padding-bottom: 37px;
}

@media screen and (max-width: 565px) {
    .popup__container {
        width: 282px;
        padding-bottom: 25px;
        top:35.9%;
    }
}